@charset "UTF-8";
/*FUENTES*/
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Oswald:wght@200;400;600&family=Work+Sans:wght@100;400;600&display=swap");
/*COLORES*/
/*#9604AB; #8054FB66;*/
/*TAMAÑOS DE TEXTO*/
/*CONTENEDORES IMAGENES*/
/*GRILLA INDEX*/
/* line 3, ../../../../Proyecto de cero/sass/_grillas.scss */
#grillaIndex {
  display: grid;
  grid-template-areas: "header header" "main aside" "main noticias" "nosotros nosotros" "footer footer";
  grid-template-columns: 80% 20%;
  grid-column-gap: 5px;
  grid-template-rows: 10% auto auto 15% 10%;
  grid-row-gap: 15px;
}

/* line 18, ../../../../Proyecto de cero/sass/_grillas.scss */
header {
  grid-area: header;
}

/* line 21, ../../../../Proyecto de cero/sass/_grillas.scss */
main {
  grid-area: main;
}

/* line 24, ../../../../Proyecto de cero/sass/_grillas.scss */
aside {
  grid-area: aside;
}

/* line 27, ../../../../Proyecto de cero/sass/_grillas.scss */
#noticias {
  grid-area: noticias;
}

/* line 30, ../../../../Proyecto de cero/sass/_grillas.scss */
#nosotros {
  grid-area: nosotros;
}

/* line 33, ../../../../Proyecto de cero/sass/_grillas.scss */
footer {
  grid-area: footer;
}

/* line 1, ../../../../Proyecto de cero/sass/_fuentes.scss */
body {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}

/* line 10, ../../../../Proyecto de cero/sass/_fuentes.scss */
.typeAmReg {
  font-family: "Amatic SC", cursive;
  font-weight: 400;
}

/* line 14, ../../../../Proyecto de cero/sass/_fuentes.scss */
.typeAmBl {
  font-family: "Amatic SC", cursive;
  font-weight: 700;
}

/* line 18, ../../../../Proyecto de cero/sass/_fuentes.scss */
.tipeOsLi {
  font-family: "Oswald", sans-serif;
  font-weight: 200;
}

/* line 22, ../../../../Proyecto de cero/sass/_fuentes.scss */
.typeOsRe {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}

/* line 26, ../../../../Proyecto de cero/sass/_fuentes.scss */
.typeOsBl {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
}

/* line 30, ../../../../Proyecto de cero/sass/_fuentes.scss */
.typeWoTi {
  font-family: "Work Sans", sans-serif;
  font-weight: 100;
}

/* line 34, ../../../../Proyecto de cero/sass/_fuentes.scss */
.typeWoRe {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}

/* line 38, ../../../../Proyecto de cero/sass/_fuentes.scss */
.tipeWoBl {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
}

/*COLOR DE LETRA*/
/* line 3, ../../../../Proyecto de cero/sass/_colores.scss */
.colorNegro {
  color: #121212;
}

/* line 6, ../../../../Proyecto de cero/sass/_colores.scss */
.colorBlanco {
  color: white;
}

/* line 9, ../../../../Proyecto de cero/sass/_colores.scss */
.colorRosa {
  color: #EF89D2;
}

/* line 12, ../../../../Proyecto de cero/sass/_colores.scss */
.colorVerde {
  color: #3CEFAB;
}

/* line 15, ../../../../Proyecto de cero/sass/_colores.scss */
.colorAmarillo {
  color: #E0FF00;
}

/* line 18, ../../../../Proyecto de cero/sass/_colores.scss */
.colorRojo {
  color: #FF000078;
}

/* line 21, ../../../../Proyecto de cero/sass/_colores.scss */
.colorBlue {
  color: #00F6;
}

/* line 24, ../../../../Proyecto de cero/sass/_colores.scss */
.colorVioleta {
  color: #840296;
}

/* line 27, ../../../../Proyecto de cero/sass/_colores.scss */
.colorBeige {
  color: beige;
}

/* line 30, ../../../../Proyecto de cero/sass/_colores.scss */
.colorGris {
  color: #E1E1E1;
}

/*COLOR DE FONDO*/
/* line 37, ../../../../Proyecto de cero/sass/_colores.scss */
.bgNegro {
  background-color: #121212;
}

/* line 40, ../../../../Proyecto de cero/sass/_colores.scss */
.bgBlanco {
  background-color: white;
}

/* line 43, ../../../../Proyecto de cero/sass/_colores.scss */
.bgRosa {
  background-color: #EF89D2;
}

/* line 46, ../../../../Proyecto de cero/sass/_colores.scss */
.bgVerde {
  background-color: #3CEFAB;
}

/* line 49, ../../../../Proyecto de cero/sass/_colores.scss */
.bgAmarillo {
  background-color: #E0FF00;
}

/* line 52, ../../../../Proyecto de cero/sass/_colores.scss */
.bgRojo {
  background-color: #FF000078;
}

/* line 55, ../../../../Proyecto de cero/sass/_colores.scss */
.bgBlue {
  background-color: #00F6;
}

/* line 58, ../../../../Proyecto de cero/sass/_colores.scss */
.bgVioleta {
  background-color: #840296;
}

/* line 61, ../../../../Proyecto de cero/sass/_colores.scss */
.bgBeige {
  background-color: beige;
}

/* line 64, ../../../../Proyecto de cero/sass/_colores.scss */
.bgGris {
  background-color: #E1E1E1;
}

/* line 1, ../../../../Proyecto de cero/sass/_estructuras.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 2, ../../../../Proyecto de cero/sass/_medidas.scss */
header {
  grid-area: header;
  width: 100vw;
}

/* line 6, ../../../../Proyecto de cero/sass/_medidas.scss */
main {
  grid-area: main;
  width: auto;
}

/* line 10, ../../../../Proyecto de cero/sass/_medidas.scss */
aside {
  grid-area: aside;
  width: auto;
}

/* line 14, ../../../../Proyecto de cero/sass/_medidas.scss */
#noticias {
  grid-area: noticias;
  width: auto;
}

/* line 18, ../../../../Proyecto de cero/sass/_medidas.scss */
#nosotros {
  grid-area: nosotros;
  width: 100vw;
}

/* line 22, ../../../../Proyecto de cero/sass/_medidas.scss */
footer {
  grid-area: footer;
  width: 100vw;
}

/*HEADER INDEX*/
/* line 3, ../../../../Proyecto de cero/sass/_index.scss */
.headerIndex {
  width: 100vw;
  color: #840296;
}

/* line 6, ../../../../Proyecto de cero/sass/_index.scss */
.headerIndex h1 {
  font-family: "Amatic SC", cursive;
  font-weight: 700;
  font-size: 2.25rem;
  text-align: center;
  margin-top: 1em;
}

/* line 15, ../../../../Proyecto de cero/sass/_index.scss */
.divRedes {
  background-color: #FFDED6;
  height: 3.125em;
  margin-bottom: 5px;
  display: flex;
  justify-content: flex-end;
}

/* line 22, ../../../../Proyecto de cero/sass/_index.scss */
.divRedes img {
  width: 20px;
  height: 20px;
  margin: 15px 10px;
}

/* line 29, ../../../../Proyecto de cero/sass/_index.scss */
.container {
  margin-top: 1em;
}

/* line 31, ../../../../Proyecto de cero/sass/_index.scss */
.container.conBorde {
  border-bottom: 2px solid #121212;
}

/* line 35, ../../../../Proyecto de cero/sass/_index.scss */
.container #navIndex {
  height: 110px;
  width: 100%;
  margin: 0.5em 0;
  font-size: 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

/* line 45, ../../../../Proyecto de cero/sass/_index.scss */
.container #navIndex .logo img {
  display: inline-block;
  width: 200px;
  margin: 0 2.5em 1em 2.5em;
  align-items: center;
}

/* line 52, ../../../../Proyecto de cero/sass/_index.scss */
.container #navIndex .botonera {
  width: 33%;
  font-family: "Amatic SC", cursive;
  font-weight: 400;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  font-size: 1.75rem;
  list-style: none;
}

/* line 61, ../../../../Proyecto de cero/sass/_index.scss */
.container #navIndex .botonera div {
  display: flex;
  flex-direction: column;
}

/* line 64, ../../../../Proyecto de cero/sass/_index.scss */
.container #navIndex .botonera div:hover {
  font-family: "Amatic SC", cursive;
  font-weight: 700;
}

/* line 68, ../../../../Proyecto de cero/sass/_index.scss */
.container #navIndex .botonera div img {
  width: 60px;
  height: 60px;
}

/* line 78, ../../../../Proyecto de cero/sass/_index.scss */
.nosCentrado {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 84, ../../../../Proyecto de cero/sass/_index.scss */
.carousel-item {
  margin: 2em 0 5em 0;
  min-height: 300px;
  background: no-repeat center center scroll;
  background-size: cover;
}

/*SECCIONES INDEX*/
/* line 95, ../../../../Proyecto de cero/sass/_index.scss */
main {
  width: auto;
}

/* line 98, ../../../../Proyecto de cero/sass/_index.scss */
main .contenedorSecciones {
  width: 80%;
  height: 400px;
  margin: 30px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  text-align: center;
}

/* line 107, ../../../../Proyecto de cero/sass/_index.scss */
main .contenedorSecciones img {
  object-fit: content;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  animation-duration: 1s;
}

/* line 113, ../../../../Proyecto de cero/sass/_index.scss */
main .contenedorSecciones img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 5px 0 #7d7d7d;
}

/* line 118, ../../../../Proyecto de cero/sass/_index.scss */
main .contenedorSecciones .parrafoSecciones {
  border: 2px solid beige;
  width: 400px;
  height: 400px;
  text-align: justify;
  font-size: 15px;
}

/* line 124, ../../../../Proyecto de cero/sass/_index.scss */
main .contenedorSecciones .parrafoSecciones h3 {
  padding: 15px;
}

/* line 127, ../../../../Proyecto de cero/sass/_index.scss */
main .contenedorSecciones .parrafoSecciones ul {
  padding-left: 20px;
  list-style: none;
  line-height: 4;
}

/* line 131, ../../../../Proyecto de cero/sass/_index.scss */
main .contenedorSecciones .parrafoSecciones ul a {
  text-decoration: none;
  color: #121212;
}

/* line 139, ../../../../Proyecto de cero/sass/_index.scss */
main .contenedorSeccionesInversa {
  width: 80%;
  height: 400px;
  margin: 30px;
  overflow: hidden;
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: space-evenly;
  text-align: center;
}

/* line 149, ../../../../Proyecto de cero/sass/_index.scss */
main .contenedorSeccionesInversa img {
  object-fit: content;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  animation-duration: 1s;
}

/* line 155, ../../../../Proyecto de cero/sass/_index.scss */
main .contenedorSeccionesInversa img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 5px 0 #7d7d7d;
}

/* line 160, ../../../../Proyecto de cero/sass/_index.scss */
main .contenedorSeccionesInversa .parrafoSecciones {
  border: 2px solid beige;
  width: 400px;
  height: 400px;
  text-align: justify;
  font-size: 15px;
}

/* line 166, ../../../../Proyecto de cero/sass/_index.scss */
main .contenedorSeccionesInversa .parrafoSecciones h3 {
  padding: 15px;
}

/* line 169, ../../../../Proyecto de cero/sass/_index.scss */
main .contenedorSeccionesInversa .parrafoSecciones ul {
  padding-left: 20px;
  list-style: none;
  line-height: 4;
}

/* line 173, ../../../../Proyecto de cero/sass/_index.scss */
main .contenedorSeccionesInversa .parrafoSecciones ul a {
  text-decoration: none;
  color: #121212;
}

/*ASIDE INDEX*/
/* line 185, ../../../../Proyecto de cero/sass/_index.scss */
aside {
  width: auto;
  margin-right: 2em;
}

/* line 189, ../../../../Proyecto de cero/sass/_index.scss */
aside div {
  margin-top: 39px;
  margin-bottom: 30px;
  padding: 15px 18px;
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

/* line 198, ../../../../Proyecto de cero/sass/_index.scss */
aside h3 {
  margin-top: 0.5em;
  margin-bottom: 1em;
}

/* line 202, ../../../../Proyecto de cero/sass/_index.scss */
aside img {
  margin-top: 20px;
  height: 100px;
  width: 100px;
  display: flex;
  align-self: center;
}

/* line 209, ../../../../Proyecto de cero/sass/_index.scss */
aside p {
  margin: 15px 0;
}

/* line 214, ../../../../Proyecto de cero/sass/_index.scss */
.tips {
  background-color: #3CEFAB;
  border-radius: 50px;
}

/* line 218, ../../../../Proyecto de cero/sass/_index.scss */
.formulario {
  background-color: #00F6;
  border-radius: 50px;
}

/* line 224, ../../../../Proyecto de cero/sass/_index.scss */
#noticias {
  width: auto;
  margin-right: 2em;
  height: 100%;
}

/*NOSOTROS INDEX*/
/* line 232, ../../../../Proyecto de cero/sass/_index.scss */
#nosotros {
  width: 100vw;
}

/* line 234, ../../../../Proyecto de cero/sass/_index.scss */
#nosotros h3 {
  text-align: center;
}

/* line 239, ../../../../Proyecto de cero/sass/_index.scss */
.carac-index {
  width: 100%;
  height: 320px;
  margin: 10px 0;
  text-align: center;
  border: 2px solid #3CEFAB;
}

/* line 246, ../../../../Proyecto de cero/sass/_index.scss */
.carac-index i {
  margin-top: 0.75em;
  font-size: 2rem;
}

/* line 250, ../../../../Proyecto de cero/sass/_index.scss */
.carac-index h3 {
  margin: 0.5em;
  font-size: 2rem;
}

/* line 254, ../../../../Proyecto de cero/sass/_index.scss */
.carac-index p {
  padding: 0.5em 0.5em;
  line-height: 1.6;
  text-align: justify;
}

/* line 261, ../../../../Proyecto de cero/sass/_index.scss */
.opiniones {
  height: 350px;
}

/*FOOTER INDEX*/
/* line 267, ../../../../Proyecto de cero/sass/_index.scss */
footer {
  width: 100%;
  background-color: #FFDED6;
  margin-top: 1.6em;
  font-size: 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

/* line 275, ../../../../Proyecto de cero/sass/_index.scss */
footer .volverArriba {
  font-size: 2rem;
  color: #00F6;
}

/* line 279, ../../../../Proyecto de cero/sass/_index.scss */
footer p {
  margin-right: 1em;
}

/* line 282, ../../../../Proyecto de cero/sass/_index.scss */
footer .redesSociales img {
  width: 30px;
  margin-bottom: 1em;
  margin-right: 1em;
}

/* line 290, ../../../../Proyecto de cero/sass/_index.scss */
.carruselOpinion {
  height: auto;
  margin-top: 20px;
}

/* line 294, ../../../../Proyecto de cero/sass/_index.scss */
.carruselOpinion .bgOpiniones {
  background-color: #3CEFAB;
}

/* line 300, ../../../../Proyecto de cero/sass/_index.scss */
h2 {
  color: #840296;
  font-family: "Amatic SC", cursive;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

/* line 310, ../../../../Proyecto de cero/sass/_index.scss */
h3 {
  color: #840296;
  font-family: "Amatic SC", cursive;
  font-weight: 700;
  font-size: 1.75rem;
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

/*CLASES COMUNES A TODAS LAS SECCIONES*/
/* line 3, ../../../../Proyecto de cero/sass/_secciones.scss */
#gridSecciones {
  display: grid;
  grid-template-areas: "header main" "footer aside" "footer final";
  grid-template-columns: 20% 80%;
  grid-column-gap: 15px;
  grid-template-rows: 50% auto 1fr;
  grid-row-gap: 25px;
  justify-items: center;
}

/* line 17, ../../../../Proyecto de cero/sass/_secciones.scss */
.final {
  grid-area: final;
}

/* line 22, ../../../../Proyecto de cero/sass/_secciones.scss */
.headerSecciones {
  width: 100%;
  background-color: #3CEFAB;
  justify-self: start;
  align-items: stretch;
  color: #840296;
}

/* line 29, ../../../../Proyecto de cero/sass/_secciones.scss */
.headerSecciones h1 {
  font-family: "Amatic SC", cursive;
  font-weight: 700;
  font-size: 2.25rem;
  text-align: center;
  margin-top: 1em;
}

/* line 38, ../../../../Proyecto de cero/sass/_secciones.scss */
.containerSecciones {
  margin-top: 1em;
}

/* line 40, ../../../../Proyecto de cero/sass/_secciones.scss */
.containerSecciones.conBorde {
  border-right: 2px solid #121212;
}

/* line 44, ../../../../Proyecto de cero/sass/_secciones.scss */
.containerSecciones #navSecciones {
  height: 110px;
  width: 100%;
  font-size: 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

/* line 53, ../../../../Proyecto de cero/sass/_secciones.scss */
.containerSecciones #navSecciones .logoSecciones img {
  display: inline-block;
  width: 150px;
  align-items: center;
}

/* line 59, ../../../../Proyecto de cero/sass/_secciones.scss */
.containerSecciones #navSecciones .botonera {
  width: 33%;
  font-family: "Amatic SC", cursive;
  font-weight: 400;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  font-size: 1.75rem;
  list-style: none;
}

/* line 68, ../../../../Proyecto de cero/sass/_secciones.scss */
.containerSecciones #navSecciones .botonera div {
  display: flex;
  flex-direction: column;
}

/* line 71, ../../../../Proyecto de cero/sass/_secciones.scss */
.containerSecciones #navSecciones .botonera div:hover {
  font-family: "Amatic SC", cursive;
  font-weight: 700;
}

/* line 75, ../../../../Proyecto de cero/sass/_secciones.scss */
.containerSecciones #navSecciones .botonera div img {
  width: 60px;
  height: 60px;
}

/* line 85, ../../../../Proyecto de cero/sass/_secciones.scss */
.nosCentrado {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 127, ../../../../Proyecto de cero/sass/_secciones.scss */
.asideSecciones {
  width: 100%;
  background-color: #EF89D2;
}

/* line 130, ../../../../Proyecto de cero/sass/_secciones.scss */
.asideSecciones .elementosAside {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

/* line 134, ../../../../Proyecto de cero/sass/_secciones.scss */
.asideSecciones .elementosAside h3 {
  margin: 0;
}

/* line 137, ../../../../Proyecto de cero/sass/_secciones.scss */
.asideSecciones .elementosAside img {
  margin: 0;
  height: 100px;
  width: 100px;
  display: flex;
  align-self: center;
}

/*SECCIÓN ENTRENAMIENTO*/
/* line 152, ../../../../Proyecto de cero/sass/_secciones.scss */
.mainEntrena {
  width: 100%;
  padding: 1em;
  text-align: justify;
}

/* line 165, ../../../../Proyecto de cero/sass/_secciones.scss */
.botFuerza {
  width: 300px;
  height: 100px;
  background-color: transparent;
  border: 2px solid #3CEFAB;
}

/* line 169, ../../../../Proyecto de cero/sass/_secciones.scss */
.botCardio {
  width: 300px;
  height: 100px;
  background-color: transparent;
  border: 2px solid #00F6;
}

/* line 173, ../../../../Proyecto de cero/sass/_secciones.scss */
.botElonga {
  width: 300px;
  height: 100px;
  background-color: transparent;
  border: 2px solid #EF89D2;
}

/* line 177, ../../../../Proyecto de cero/sass/_secciones.scss */
.botAdultos {
  width: 300px;
  height: 100px;
  background-color: transparent;
  border: 2px solid #FF000078;
}

/* line 181, ../../../../Proyecto de cero/sass/_secciones.scss */
.listadoEntrena {
  width: 100%;
}

/* line 183, ../../../../Proyecto de cero/sass/_secciones.scss */
.listadoEntrena ul {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

/* line 189, ../../../../Proyecto de cero/sass/_secciones.scss */
.listadoEntrena a {
  text-decoration: none;
  color: #840296;
}

/* line 197, ../../../../Proyecto de cero/sass/_secciones.scss */
.divFotosEntrena {
  width: 280px;
  height: 420px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

/* line 204, ../../../../Proyecto de cero/sass/_secciones.scss */
.divFotosEntrena img {
  display: block;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  overflow: hidden;
}

/*SECCIÓN ALIMENTACIÓN*/
/* line 219, ../../../../Proyecto de cero/sass/_secciones.scss */
.mainAlimenta {
  padding: 1em;
  text-align: justify;
}

/* line 225, ../../../../Proyecto de cero/sass/_secciones.scss */
.botNutGral {
  width: 300px;
  height: 100px;
  background-color: transparent;
  border: 2px solid #3CEFAB;
}

/* line 229, ../../../../Proyecto de cero/sass/_secciones.scss */
.botNutDepo {
  width: 300px;
  height: 100px;
  background-color: transparent;
  border: 2px solid #00F6;
}

/* line 233, ../../../../Proyecto de cero/sass/_secciones.scss */
.botNutCel {
  width: 300px;
  height: 100px;
  background-color: transparent;
  border: 2px solid #EF89D2;
}

/* line 237, ../../../../Proyecto de cero/sass/_secciones.scss */
.botNutVege {
  width: 300px;
  height: 100px;
  background-color: transparent;
  border: 2px solid #FF000078;
}

/* line 241, ../../../../Proyecto de cero/sass/_secciones.scss */
.botNutVega {
  width: 300px;
  height: 100px;
  background-color: transparent;
  border: 2px solid #3CEFAB;
}

/* line 245, ../../../../Proyecto de cero/sass/_secciones.scss */
.botRecetas {
  width: 300px;
  height: 100px;
  background-color: transparent;
  border: 2px solid #00F6;
}

/* line 249, ../../../../Proyecto de cero/sass/_secciones.scss */
.botMasaCorp {
  width: 300px;
  height: 100px;
  background-color: transparent;
  border: 2px solid #EF89D2;
}

/* line 255, ../../../../Proyecto de cero/sass/_secciones.scss */
.listadoAlimentacion {
  width: 100%;
  margin-bottom: 1em;
}

/* line 258, ../../../../Proyecto de cero/sass/_secciones.scss */
.listadoAlimentacion ul {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin-bottom: 1em;
}

/* line 265, ../../../../Proyecto de cero/sass/_secciones.scss */
.listadoAlimentacion a {
  text-decoration: none;
  color: #840296;
}

/*SECCIÓN NOTICIAS*/
/* line 275, ../../../../Proyecto de cero/sass/_secciones.scss */
.bodyNoticias {
  color: #121212;
}

/* line 278, ../../../../Proyecto de cero/sass/_secciones.scss */
.imagenNoticias {
  margin-top: 20px;
  height: 200px;
  width: 300px;
}

/* line 284, ../../../../Proyecto de cero/sass/_secciones.scss */
.noticiasExtendidas {
  padding: 1.75em;
}

/* line 286, ../../../../Proyecto de cero/sass/_secciones.scss */
.noticiasExtendidas h2 {
  text-align: center;
}

/* line 289, ../../../../Proyecto de cero/sass/_secciones.scss */
.noticiasExtendidas p {
  font-family: "Work Sans", sans-serif;
  font-size: 100;
  font-size: 1rem;
  color: #121212;
  text-align: justify;
  line-height: 1.6;
}

/* line 3, ../../../../Proyecto de cero/sass/_maps.scss */
.type-light {
  font-weight: 200;
}

/* line 3, ../../../../Proyecto de cero/sass/_maps.scss */
.type-regular {
  font-weight: 400;
}

/* line 3, ../../../../Proyecto de cero/sass/_maps.scss */
.type-bold {
  font-weight: 600;
}

/*# sourceMappingURL=estilos.css.map */