/*COLOR DE LETRA*/

.colorNegro{
	color: $colorNegro;
}
.colorBlanco{
	color: $colorBlanco;
}
.colorRosa{
	color: $colorRosa;
}
.colorVerde{
	color: $colorVerde;
}
.colorAmarillo{
	color: $colorAmarillo;
}
.colorRojo{
	color: $colorRojo;
}
.colorBlue{
	color: $colorBlue;
}
.colorVioleta{
	color: $colorVioleta;
}
.colorBeige{
	color: $colorBeige;
}
.colorGris{
	color: $colorGris;
}
.colorCeleste{
	color: $colorCeleste;
}


/*COLOR DE FONDO*/

.bgNegro{
	background-color: $colorNegro;
}
.bgBlanco{
	background-color: $colorBlanco;
}
.bgRosa{
	background-color: $colorRosa;
}
.bgVerde{
	background-color: $colorVerde;
}
.bgAmarillo{
	background-color: $colorAmarillo;
}
.bgRojo{
	background-color: $colorRojo;
}
.bgBlue{
	background-color: $colorBlue;
}
.bgVioleta{
	background-color: $colorVioleta;
}
.bgBeige{
	background-color: $colorBeige;
}
.bgGris{
	background-color: $colorGris;
}
.bgCeleste{
	background-color: $colorCeleste;
}