.form-group{
	margin: 2em;
}

textarea.form-control{
	resize: none
}


.botonLimpiar{
	background-color: $colorBlue;
	margin-right: 0.5em;
	&:hover{
		background-color: $colorBlanco;
		Border: 1px solid $colorBlue;
		color: $colorBlue;
	}
}

.botonEnviar{
	background-color: $colorVerde;
	&:hover{
		background-color: $colorBlanco;
		Border: 1px solid $colorVerde;
		color: $colorVerde;
	}
}

.form-control{
	transition: none;
	border: 2px solid $colorRosaClaro;
}
