/*GRILLA INDEX*/

#grillaIndex{
	display: grid;
	grid-template-areas:
	"header header"
	"main aside"
	"main noticias"
	"nosotros nosotros"
	"footer footer"
	;
grid-template-columns: 80% auto;
grid-column-gap: 0.5px;
grid-template-rows: auto auto auto auto auto;
grid-row-gap: 5px;
}

header{
	grid-area: header;
}
main{
	grid-area: main;
}
aside{
	grid-area: aside;
}
#noticias{
	grid-area: noticias;
}
#nosotros{
	grid-area: nosotros;
}
footer{
	grid-area: footer;
}

/*GRILLA SECCIONES*/

#gridSecciones{
	display: grid;
	grid-template-areas:
	"header main"
	"footer aside"
	"footer piePagina"
	"zocalo zocalo"
	;
	grid-template-columns: 10% auto;
	grid-column-gap: 0.5px;
	grid-template-rows: auto auto 1fr auto;
	grid-row-gap: 0.2px;
	justify-items: center;
}

@media all and (max-width: 767.98px) and (min-width: 360px){
	#grillaIndex{
	display: grid;
	grid-template-areas:
	"header"
	"main"
	"aside"
	"noticias"
	"footer"
	;
	grid-template-columns: auto;
	grid-column-gap: 5px;
	grid-template-rows: auto auto auto auto auto;
	grid-row-gap: 10px;
	}


	#gridSecciones{
	display: grid;
	grid-template-areas:
	"header"
	"main"
	"piePagina"
	"footer"
	"zocalo"
	;
	grid-template-columns: auto;
	grid-template-rows: auto auto auto auto auto;
	grid-row-gap: 10px;
	justify-items: center;
}

.piePagina{
	grid-area: piePagina;

}
}