/*HEADER INDEX*/

.headerIndex{
	width: 100%;
	color: $colorVioleta;
		h1{
			font-family: $font-am;
			font-weight: $font-am-bold;
			font-size: 2.25rem;
			text-align: center;
			margin-top: 1em;
		}
}

.divRedes{
	background-color: $colorRosaClaro;
	height: 3.125em;
	margin-bottom: 5px;
	display: flex;
	justify-content: flex-end;
		
		img {
			width: 20px;
			height: 20px;
			margin: 15px 10px;
		}
}

.container{
	margin-top: 1em;
	&.conBorde{
		border-bottom: 2px solid $colorNegro;		
	}

	#navIndex {
		height: 110px;
		width: 100%;
		margin: 0.5em 0;
		font-size: $grande;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;

		.logo img{
			display: inline-block;
			width: 200px;
			margin: 0 2.5em 1em 2.5em;
			align-items: center;
		}

		.botonera{
			width: 33%;
			font-family: $font-am;
			font-weight: $font-am-regular;
			display: flex;
			flex-flow: row wrap;
			justify-content: space-around;
			font-size: $mediano;
			list-style: none;
			div{
				display: flex;
				flex-direction: column;
				&:hover{
					font-family: $font-am;
					font-weight: $font-am-bold;
				}
				img{
					width: 60px;
					height: 60px;

				}	
			}
		}
	}
}

.navbar-light .navbar-toggler{
	border: none;
}

.nosCentrado{
	display: flex;
	flex-direction: column;
	align-items: center;

}

.navbar-collapse{
	font-family: $font-am;
	font-weight: $font-am-bold;
	font-size: $mediano;
}	


/*CARRUSELES*/


#carouselExampleSlidesOnly{
	margin: 2.5em 0 3em 0;
	h5{
		letter-spacing: 3px;
	}
}



/*SECCIONES INDEX*/
	
.contenedorSecciones{
	@include seccionesIndex;
	background-color: $colorRosaClaro;
	border: 1px solid $colorRosa;

 	img{
		border: 1px solid $colorRosa;
	}
	.parrafoSecciones{
		@include parrafoSeccionesIndex;
		h3 a{
			text-decoration: none;
			color: $colorVioleta;
			font-family: $font-am;
			font-weight: $font-am-bold;
			font-size: 1.75rem;
			text-align: center;
			padding: 0.5em;
		}
		ul {
		padding-left: 20px;
		list-style: none;
		line-height: 4;
			a{
			text-decoration: none;
			color: #121212;
			}
		}
	}
}

.contenedorSeccionesInversa{
	@include seccionesIndex;
	background-color: $colorCeleste;
	border: 1px solid $colorBlue;
	flex-direction: row-reverse;

 	img{

		border: 1px solid $colorBlue;
	}
	.parrafoSecciones{
		@include parrafoSeccionesIndex;
		h3 a{
			text-decoration: none;
			color: $colorVioleta;
			font-family: $font-am;
			font-weight: $font-am-bold;
			font-size: 1.75rem;
			text-align: center;
			padding: 0.5em;
		}
		ul {
		padding-left: 20px;
		list-style: none;
		line-height: 4;
			a{
			text-decoration: none;
			color: #121212;
			}
		}
	}
}


/*ASIDE INDEX*/

.asideIndex{
	@include barraLateralIndex;
	background: linear-gradient(rgba(60,239,171,1), rgba(60,239,171,1), rgba(158,153,255,1));
	
	h2{
		margin: 0.25em 0;
	}

	div {
		width: 95%;
		margin-top: 39px;
		margin-bottom: 30px;
		padding: 15px 18px;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	h3{
		font-size: $mediano;
		margin-top: 0.5em;
		margin-bottom: 0.5em;
	}
	img{
		height: 60px;
		width: 60px;
		display:flex;
		align-self: center;
	}
	p{
		margin: 15px 0;
	}
}

.tips{
	background-color: $colorBeige;
	border-radius: 2px;
	border: 1px solid $colorVioleta;
}
.formulario{
	background-color: $colorBeige;
	border-radius: 2px;
	border: 1px solid $colorVioleta;
	img{
		margin-left: 0.5em;
	}
}


/*NOTICIAS INDEX*/

#noticias{
	@include barraLateralIndex;
	height: 95.5%;
	background-color: $colorBeige;
	border: 1px solid $colorRojo;
/*	background: linear-gradient(rgba(158,153,255,1), rgba(60,239,171,1), rgba(60,239,171,1));*/
	img{
		margin-left: 0.45em;
	}
}

.card-img-top{
	border: 1px solid $colorRojo;
	width: 95%;

}
.card-body{
	font-family: $font-wo;
	font-weight: $font-wo-regular;
	font-size: $pequeño;
	text-align: justify;	
	h5{
		color: $colorVioleta;
		font-family: $font-am;
		font-weight: $font-am-bold;
		font-size:$mediano;
		text-align: center;
	}
	a{
		background-color: $colorBlanco;
		color: $colorRojo;
		border: 1px solid $colorRojo;
		&:hover{
			background-color: $colorRojo;
			color: $colorBlanco;
			border: 1px solid $colorBlanco;
		}
	}

}

.botonNoticias{
	background-color: $colorRojo;
	color: $colorBlanco;
	border: 1px solid $colorBlanco;
	&:hover{
		background-color: $colorBlanco;
		color: $colorRojo;
		border: 1px solid $colorRojo;
	}
}


/*NOSOTROS INDEX*/ 

#nosotros{
	width: 100%;
	h3{
		text-align: center;
		margin: 2em 0;
	}
}	

.carac-index{
	height: 350px;
	text-align: center;
	border: 2px solid $colorVerde;

		i{
			margin-top:0.75em;
			font-size: $grande;
		}
		h5{
			font-family: $font-am;
			font-weight: $font-am-bold;
			margin:0.5em;
			font-size: $grande;
		}
		p{
			padding: 0.5em 0.5em;
			line-height: 1.6;
			text-align: justify;
		}
}

#carouselExampleCaptions{
	margin: 4em 0;
	height: 200px;
	.carousel-indicators li{
		background-color: $colorRosaClaro;
	}
	.carousel-item{
	img{
		width:100px;
		height: 100px;
		margin-top: 4em;
		filter: opacity(0%);
	}
		h5{
			margin-top: 1em;
			font-family:$font-wo;
			font-weight:$font-wo-bold;
			font-size: $mediano;
			color: $colorVioleta;
			letter-spacing: 0.40em;	
		}
		p{
			font-family:$font-wo;
			font-weight:$font-wo-regular;
			font-size: $pequeño;
			color: $colorNegro;
		}
	}
	.carousel-control-next, .carousel-control-prev{
		filter: opacity(0%);
	}
}



/*FOOTER INDEX*/

footer{
	width: 100%;
	background-color: $colorRosaClaro;
	margin-top: 2em;
	font-size: $muy-pequeño;
	display: flex;
	flex-direction: row ;
	justify-content: space-between;
	align-items: center;
	.divFooterIndex{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	img{
		margin: 0.5em 0; 
		display: inline-block;
		width: 20px;
	}

	p{
		margin-right: 1em;
		line-height:0.5;
		a{
			color: $colorVioleta;
			&:hover{
				text-decoration: none;
				color: $colorRosa;
			}
		}	
	}
	.redesSociales img {
		width: 20px;
		margin:0 0.5em;
	}

}


.volverFixed{
	position: fixed;
	z-index: 100;
	right: 0;
	bottom: 0;
	font-size: 1.75rem;
		.volverArriba {
		font-size:$mediano;
		color: $colorVioleta;
	}
}






h2{
	color: $colorVioleta;
	font-family: $font-am;
	font-weight: $font-am-bold;
	font-size: 2rem;
	text-align: center;
	margin-top: 0.5em;
	margin-bottom: 1em;
}

h3{
	color: $colorVioleta;
	font-family: $font-am;
	font-weight: $font-am-bold;
	font-size: $grande;
	text-align: center;
	margin-top: 0.5em;
	margin-bottom: 1em;
}

h4{
	color: $colorVioleta;
	font-family: $font-am;
	font-weight: $font-am-bold;
	font-size: 1.25rem;
	text-align: center;
	margin-top: 0.5em;
	margin-bottom: 1em;
}





