*{
	margin: 0;
	padding: 0;
}

/*MEDIA DE HEADER DE SECCIONES*/

@media all and (max-width: 1199.98px) and (min-width: 768px){
.containerSecciones{
	margin-top: 1em;
	position: sticky;
	top: 1em;

	&.conBordeSec{
		border-right: 0.5px solid $colorNegro;		
	}
	#navSecciones {
		height: 100%;
		width: 100%;
		font-size: 1.5em;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: space-evenly;
		.logoSecciones{ 
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
			img{
				width: 60px;
			}
		}
		.botoneraSecciones{
			height: 300px;
			font-family: $font-am;
			font-weight: $font-am-regular;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-evenly;
			font-size: 1em;
			list-style: none;
			div{
				display: flex;
				flex-direction: column;
				&:hover{
					font-family: $font-am;
					font-weight: $font-am-bold;
				}
				img{
					width: 40px;
					height: 40px;

				}	
			}
		}
	}
}

.nosCentrado{
	display: flex;
	flex-flow: column wap;
	align-items: center;
	justify-content: center;
	p{
		text-align: center;
		}

	}
}

@media all and (max-width: 767.98px) and (min-width: 360px){
	.containerSecciones{
		display: block;
		&.conBordeSec{
			border-right: none;
			border-bottom: 1px solid $colorNegro;		
		}
		#navSecciones {
			height: 100%;
			width: 100%;
			font-size: $pequeño;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;

			.logoSecciones{ 
			width: 30%;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
				img{
					width: 50px;
				}
			}

			.botoneraSecciones{
				width: 100%;
				height: 100px;
				font-family: $font-am;
				font-weight: $font-am-regular;
				display: flex;
				flex-direction: row;
				align-items: end;
				justify-content: space-evenly;
				font-size: $pequeño;
				list-style: none;
				div{
					display: flex;
					flex-direction: column;
					&:hover{
						font-family: $font-am;
						font-weight: $font-am-bold;
					}
					img{
						width: 40px;
						height: 40px;

					}	
				}
			}
		}
	}
}




/*BOTONES DE SECCIONES*/

@media all and (max-width: 1199.98px) and (min-width: 768px){
	.listadoSecciones{
	width: 100%;
	ul{
		margin-bottom: 1em;
		list-style: none;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
	}
	a{
		text-decoration: none;
		color: $colorVioleta;
	}
}
.bot1{
	margin: 1em 4em;
}
.bot2{
	margin: 1em 4em;
}
.bot3{
	margin: 1em 4em;
}
.bot4{
	margin: 1em 4em;
}
.bot5{
	margin: 1em 4em;
}
.bot6{
	margin: 1em 4em;
}
.bot7{
	margin: 1em 4em;
}
.bot8{
	margin: 1em 4em;
}
}


@media all and (max-width: 767.98px) and (min-width: 360px){
.listadoSecciones{
	width: 100%;
	ul{
		list-style: none;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
	}
	a{
		text-decoration: none;
		color: $colorVioleta;
	}
}
.bot1{
	margin: 1em 5em;
}
.bot2{
	margin: 1em 5em;
}
.bot3{
	margin: 1em 5em;
}
.bot4{
	margin: 1em 5em;
}
.bot5{
	margin: 1em 5em;
}
.bot6{
	margin: 1em 5em;
}
.bot7{
	margin: 1em 5em;
}
.bot8{
	margin: 1em 5em;
}
}

@media all and (max-width: 767.98px) and (min-width: 360px){
	.mainSecciones{
		font-size: 0.75rem;
		margin: 0.5px 0;
	}
	.bloqueSecciones{
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: column;
			img{
			width: 300px; 
			height:450px;
			object-fit: cover;
			object-position: center center;
			overflow: hidden;
			border-radius: 5px 5px 5px 5px;
			}			
			p{
				text-align: justify;
				line-height: 1.6;
			}

	}
	.tituloSecciones1.ali{
		@include bannerTitulosSm;
		background-image: url("../media/fideo.jpg");
	}
	.tituloSecciones2.ali{
		@include bannerTitulosSm;
		background-image: url("../media/tomate.jpg");
	}
	.tituloSecciones3.ali{
		@include bannerTitulosSm;
		background-image: url("../media/fideo2.jpg");
	}
	.tituloSecciones1.eje{
		@include bannerTitulosSm;
		background-image: url("../media/eje1.jpg");
	}
	.tituloSecciones2.eje{
		@include bannerTitulosSm;
		background-image: url("../media/eje2.jpg");
	}

	.table-bordered{
			font-size: 9px;
		td{
			background-color: $colorBlanco;
		}
	}
}




/*ASIDE SECCIONES*/
@media all and (max-width: 1199.98px) and (min-width: 768px){
	.asideSecciones{
		width: 100%;
		height: 300px;
		background-color: $colorRosaClaro;
			.elementosAside{
				height: 80%;
				display: flex;
				flex-flow: row wrap;
				justify-content: space-evenly;
				align-items: center;
				h3{
					margin-top: 2em;
					margin-bottom:0.5em;
					font-size: 1.25rem;
				}
					img{
						margin: 0;
						height: 85px;
						width: 85px;
						display:flex;
						align-self: center;
					}
				}
			}
	}
























/*INDEX*/
/*SECCIONES DEL INDEX*/

@media all and (max-width: 1199.98px) and (min-width: 992px){
.contenedorSecciones{
	@include seccionesIndexMob;
	background-color: $colorRosaClaro;
	border: 1px solid $colorRosa;

 	img{
		@include imagenesSeccionesIndexMob;
		border: 1px solid $colorRosa;
	}
	.parrafoSecciones{
		@include parrafoSeccionesIndexMob;
		h3{
		padding: 0.25em;
		}
		ul {
		list-style: none;
		line-height: 3;
			a{
			text-decoration: none;
			color: #121212;
			}
		}
	}
}

.contenedorSeccionesInversa{
	@include seccionesIndexMob;
	background-color: $colorCeleste;
	border: 1px solid $colorBlue;
	
 	img{
		@include imagenesSeccionesIndexMob;
		border: 1px solid $colorBlue;
	}
	.parrafoSecciones{
		@include parrafoSeccionesIndexMob;
		h3{
		padding: 0.25em;
		}
		ul {
		list-style: none;
		line-height: 3;
			a{
			text-decoration: none;
			color: #121212;
			}
	}
}
}
}

@media all and (max-width: 991.98px) and (min-width: 768px){
.contenedorSecciones{
	@include seccionesIndexMob;
	background-color: $colorRosaClaro;
	border: 1px solid $colorRosa;
	margin-left: 9em;

 	img{
		@include imagenesSeccionesIndexMob;
		border: 1px solid $colorRosa;
	}
	.parrafoSecciones{
		@include parrafoSeccionesIndexMob;
		h3 a{
			text-decoration: none;
			color: $colorVioleta;
			font-family: $font-am;
			font-weight: $font-am-bold;
			font-size: 1.75rem;
			text-align: center;
			padding: 0.5em;
		}
		ul {
		padding-left: 20px;
		list-style: none;
		line-height: 4;
			a{
			text-decoration: none;
			color: #121212;
			}
		}
	}
}

.contenedorSeccionesInversa{
	@include seccionesIndexMob;
	background-color: $colorCeleste;
	border: 1px solid $colorBlue;
	margin-left: 9em;

 	img{
		@include imagenesSeccionesIndexMob;
		border: 1px solid $colorBlue;
	}
	.parrafoSecciones{
		@include parrafoSeccionesIndexMob;
		h3 a{
			text-decoration: none;
			color: $colorVioleta;
			font-family: $font-am;
			font-weight: $font-am-bold;
			font-size: 1.75rem;
			text-align: center;
			padding: 0.5em;
		}
		ul {
		padding-left: 20px;
		list-style: none;
		line-height: 4;
			a{
			text-decoration: none;
			color: #121212;
			}
		}
	}
}
}
