
header{
	grid-area: header;
	width: auto;
	height: auto;
}
main{
	grid-area: main;
	width: auto;
	height: auto;
}
aside{
	grid-area: aside;
	width: auto;
	height: auto;
}
#noticias{
	grid-area: noticias;
	width: auto;
	height: auto;
}
#nosotros{
	grid-area: nosotros;
	width: auto;
	height: auto;
}
footer{
	grid-area: footer;
	width: auto;
	height: auto;
}