
header{
	grid-area: header;
	width: 100%;
	height: auto;
}
main{
	grid-area: main;
	width: 100%;
	height: auto;
}
aside{
	grid-area: aside;
	width: 100%;
	height: auto;
}
#noticias{
	grid-area: noticias;
	width: 100%;
	height: auto;
}
#nosotros{
	grid-area: nosotros;
	width: 100%;
	height: auto;
}
footer{
	grid-area: footer;
	width: 100%;
	height: auto;
}
.piePagina{
	grid-area: piePagina;
	width: 100%;
	height: auto;

}
.zocalo{
	grid-area: zocalo;
	width: 100%;
	height: auto;
}