
/*MIXIN INDEX*/

/*CONTENIDO PRINCIPAL*/

@mixin seccionesIndex{
	width: 100%;
	height: $alto-g;
	margin: 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	text-align: center;
	img{
		width: 375px;
		height: 375px;
		margin-top: 0.75em;
		object-fit: content;
		background-position: center;
		background-repeat: no-repeat;
		overflow: hidden;
		animation-duration: 1s;
		&:hover{
			transform: scale(1.05);
		}
	}
}

@mixin parrafoSeccionesIndex{
	width: 400px;
	height: 400px;
	text-align: justify;
	font-size: $pequeño;
}

/*CONTENIDO LATERAL*/

@mixin barraLateralIndex{
	width: auto;
	margin-right: 1em;
	margin-top: 1.25em;
	border-radius: 2px 2px 2px 2px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid $colorVioleta;
}


/*MIXIN SECCIONES*/

/*BANNER DE CADA SECCIÓN*/

@mixin bannerSecciones {
	margin-bottom: 1em;
	width: 100%;
	height: 300px;
	object-fit: cover;
	object-position: center center;
	overflow: hidden;
	h3{
		color: $colorBlanco;
		font-size: $muy-grande;
		line-height: 4;
		text-shadow: 2px 2px 2px #840296;
	}
}

@mixin bannerTitulos{
	margin: 0.5em 0;
	text-shadow: 1px 1px 1px #840296;
}


@mixin botones {
	width: 250px; 
	height:60px;
	border-radius: 5px 5px 5px 5px;
	background-color: $colorBlanco; /*o transparente?*/
}


@mixin contenedorSecciones{
	margin: 1em 0em;
	padding: 0.5em 0.5em;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	img{
		margin: 0.5em 0em;
		width: 250px; 
		height:350px;
		object-fit: cover;
		object-position: center center;
		overflow: hidden;
		border: 1px solid $colorVerde;
		border-radius: 5px 5px 5px 5px;
	}			
	p{
		text-align: justify;
	}
	ul{
		list-style-position: inside;
		line-height: 2.5;
	}
}



/*MIXIN MEDIA QUERIES*/


/*INDEX - CONTENIDO PRINCIPAL*/

@mixin seccionesIndexMob{
	width: 100%;
	height: auto;
	display: flex;
	flex-flow: column;
	align-items: center;
	text-align: justify;
	img{
	width: 300px;
	height: 300px;
	margin-top: 1em;
	object-fit: content;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
	}
}

@mixin parrafoSeccionesIndexMob{
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 0.75Rem;
}


/*SECCIONES - BANNERS*/

@mixin bannerSeccionesSm {
	margin-bottom: 0.75em;
	width: 100%;
	height: 300px;
	object-fit: cover;
	object-position: center center;
	overflow: hidden;
	h3{
		color: $colorBlanco;
		font-size: 3Rem;
		line-height: 5;
		text-shadow: 2px 2px 2px #840296;
	}
}

@mixin bannerTitulosSm{
	margin-top: 0;
	margin-bottom: 1em;
	background-size: center;
	background-position: bottom;
	height: 100px;
	width: 100%;
	color: $colorBlanco;
	line-height: 3;
}