/*HEADER DE LAS SECCIONES*/

.headerSecciones{
	width: 100%;
	height: 100%;

	color: $colorVioleta;
		h1{
			font-family: $font-am;
			font-weight: $font-am-bold;
			font-size: 2.25rem;
			text-align: center;
			margin-top: 1em;
		}
}

.containerSecciones{
	margin-top: 2em;
	position: sticky;
	top: 2em;

	&.conBordeSec{
		border-right: 2px solid $colorNegro;		
	}

	#navSecciones {
		height: 100%;
		width: 100%;
		font-size: $mediano;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: space-evenly;

		.logoSecciones{ 
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
			img{
				width: 85px;
			}
		}

		.botoneraSecciones{
			height: 300px;
			font-family: $font-am;
			font-weight: $font-am-regular;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-evenly;
			font-size: $mediano;
			list-style: none;
			div{
				display: flex;
				flex-direction: column;
				&:hover{
					font-family: $font-am;
					font-weight: $font-am-bold;
				}
				img{
					width: 60px;
					height: 60px;

				}	
			}
		}
	}
}

.nosCentrado{
	display: flex;
	flex-direction: column;
	align-items: center;

}

/*MAIN DE LAS SECCIONES*/

.bannerSecciones{
	width: 100%;
	height: 300px;
	background-color: $colorVerde;
	h3{
		text-align: center;
	}
}

.listadoSecciones{
	width: 100%;
	margin-top: 2em;
	ul{
		margin-bottom: 1em;		
		list-style: none;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-evenly;
		align-items: space-evenly;
	}
	a{
		text-decoration: none;
		color: $colorVioleta;
	}
}

.bot1{
	@include botones;
	border: 2px solid $colorVerde;
	&:hover{
		background-color: $colorVerde;
		a{
			color: $colorBlanco;
		}
	}
}
.bot2{
	@include botones;
	border: 2px solid $colorBlue;
	&:hover{
		background-color: $colorBlue;
		a{
			color: $colorBlanco;
		}
	}
}
.bot3{
	@include botones;
	border: 2px solid $colorRosa;
	&:hover{
		background-color: $colorRosa;
		a{
			color: $colorBlanco;
		}
	}
}
.bot4{
	@include botones;
	border: 2px solid $colorRojo;
	&:hover{
		background-color: $colorRojo;
		a{
			color: $colorBlanco;
		}
	}
}
.bot5{
	@include botones;
	border: 2px solid $colorVerde;
	&:hover{
		background-color: $colorVerde;
		a{
			color: $colorBlanco;
		}
	}
}
.bot6{
	@include botones;
	border: 2px solid $colorBlue;
	&:hover{
		background-color: $colorBlue;
		a{
			color: $colorBlanco;
		}
	}
}
.bot7{
	@include botones;
	border: 2px solid $colorRosa;
	&:hover{
		background-color: $colorRosa;
		a{
			color: $colorBlanco;
		}
	}
}
.bot8{
	@include botones;
	border: 2px solid $colorBlue;
	&:hover{
		background-color: $colorBlue;
		a{
			color: $colorBlanco;
		}
	}
}


.imagenesSecciones{
	width: 100%;
	margin-top: 2em;
	margin-bottom: 1em;		
	list-style: none;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-items: space-evenly;
		img{
			width: 250px; 
			height:350px;
			object-fit: cover;
			object-position: center center;
			overflow: hidden;
			border-radius: 5px 5px 5px 5px;
		}
}



.asideSecciones{
	width: 100%;
	height: 100%;
	background-color: $colorRosaClaro;
		.elementosAside{
			display: flex;
			flex-flow: row wrap;
			justify-content: space-evenly;
			h3{
				margin: 0;
			}
				img{
					margin: 0;
					height: 100px;
					width: 100px;
					display:flex;
					align-self: center;
				}
		}
}

.footerSecciones{
	width: 100%;
	height: 100%;
	background-color: $colorBlue;
	margin-top: 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}







/*SECCIÓN ENTRENAMIENTO*/


.mainEntrena{
	width: 100%;
	padding:1em;
	text-align: justify;
}









/*SECCIÓN ALIMENTACIÓN*/

.mainAlimenta{
	padding:1em;
	text-align: justify;
}






/*SECCIÓN NOTICIAS*/

.bodyNoticias{
	color: $colorNegro;
}
.imagenNoticias{
	margin-top: 20px;
	height: 200px;
	width: 300px;
}

.noticiasExtendidas{
		padding: 1.75em;
	h2{
		text-align:center;
	}
	p{
		font-family: $font-wo;
		font-size: $font-wo-thin;
		font-size: $pequeño;
		color: $colorNegro;

		text-align: justify;
		line-height: 1.6;
	}
}


.piePagina{
	width: 100%;
	height: 250px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	.logoCircular img{
			margin-top: -90px;
			width: 150px;	
		}

	.redesSociales{
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		img {
			width: 30px;
			margin-bottom: 1em;
			margin-right: 2em;
		}		
	}


}