/*HEADER DE LAS SECCIONES*/

.headerSecciones{
	width: 100%;
	height: 100%;
	color: $colorVioleta;
		h1{
			font-family: $font-am;
			font-weight: $font-am-bold;
			font-size: 2.25rem;
			text-align: center;
			margin-top: 1em;
		}
}

.containerSecciones{
	margin-top: 1em;
	position: sticky;
	top: 1em;

	&.conBordeSec{
		border-right: 2px solid $colorNegro;		
	}

	#navSecciones {
		height: 100%;
		width: 100%;
		font-size: $mediano;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: space-evenly;

		.logoSecciones{ 
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
			img{
				width: 85px;
			}
		}

		.botoneraSecciones{
			margin-top: 1em;
			height: 300px;
			font-family: $font-am;
			font-weight: $font-am-regular;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-evenly;
			font-size: $mediano;
			list-style: none;
			div{
				display: flex;
				flex-direction: column;
				&:hover{
					font-family: $font-am;
					font-weight: $font-am-bold;
				}
				a{
					text-align: center;
				}
				img{
					width: 60px;
					height: 60px;

				}	
			}
		}
	}
}

.nosCentrado{
	display: flex;
	flex-direction: column;
	align-items: center;

}

/*BANNER DE LAS SECCIONES*/

.bannerEntrenamiento{
	@include bannerSecciones;
	background-image: url(../media/bannerEntre.jpg);
}

.bannerAlimentacion{
	@include bannerSecciones;
	background-image: url("../media/alibanner.jpg");
}

.bannerFormulario{
	@include bannerSecciones;
	background-color: $colorBlue;

}




.introSecciones{
	margin: 1em 2em;
	padding: 0.5em;
	text-align: justify;
	line-height: 2;
}


.listadoSecciones{
	width: 100%;
	ul{
		list-style: none;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-evenly;
		align-items: space-evenly;
	}
	a{
		text-decoration: none;
		color: $colorVioleta;
	}
}

.bot1{
	@include botones;
	border: 2px solid $colorVerde;
	&:hover{
		background-color: $colorVerde;
		a{
			color: $colorBlanco;
		}
	}
}
.bot2{
	@include botones;
	border: 2px solid $colorRojo;
	&:hover{
		background-color: $colorRojo;
		a{
			color: $colorBlanco;
		}
	}
}
.bot3{
	@include botones;
	border: 2px solid $colorBlue;
	&:hover{
		background-color: $colorBlue;
		a{
			color: $colorBlanco;
		}
	}
}
.bot4{
	@include botones;
	border: 2px solid $colorRosa;
	&:hover{
		background-color: $colorRosa;
		a{
			color: $colorBlanco;
		}
	}
}
.bot5{
	@include botones;
	border: 2px solid $colorVerde;
	&:hover{
		background-color: $colorVerde;
		a{
			color: $colorBlanco;
		}
	}
}
.bot6{
	@include botones;
	border: 2px solid $colorRojo;
	&:hover{
		background-color: $colorRojo;
		a{
			color: $colorBlanco;
		}
	}
}
.bot7{
	@include botones;
	border: 2px solid $colorBlue;
	&:hover{
		background-color: $colorBlue;
		a{
			color: $colorBlanco;
		}
	}
}
.bot8{
	@include botones;
	border: 2px solid $colorRosa;
	&:hover{
		background-color: $colorRosa;
		a{
			color: $colorBlanco;
		}
	}
}

.tituloSecciones1{
@include bannerTitulos;
}

.tituloSecciones2{
@include bannerTitulos;
}

.tituloSecciones3{
@include bannerTitulos;
}


.bloqueSecciones{
	margin: 1em;
	padding: 1em;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
		img{
			margin: 0 0.5em;
			width: 250px; 
			height:350px;
			object-fit: cover;
			object-position: center center;
			overflow: hidden;
			border-radius: 5px 5px 5px 5px;
		}			
		p{
			margin: 0 2em;
			text-align: justify;
			line-height: 2;
	}
}

.asideSecciones{
	width: 100%;
	height: 300px;
	background-color: $colorRosaClaro;
		.elementosAside{
			display: flex;
			flex-flow: row wrap;
			justify-content: space-evenly;
			h3{
				margin-top: 2em;
			}
				img{
					margin: 0;
					height: 100px;
					width: 100px;
					display:flex;
					align-self: center;
				}
				a{
					display: flex;
					flex-direction: row;
					justify-content: center;
				}
		}
}

.footerSecciones{
	width: 100%;
	height: auto;
	background-color: $colorBlue;
	margin-top: 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}




.mainSecciones{
	margin: 0;
	padding: 0;
	background-color: $colorBeige;
	width: 100%;
	text-align: justify;
}








/*SECCIÓN NOTICIAS*/

.bodyNoticias{
	color: $colorNegro;
}
.imagenNoticias{
	margin-top: 20px;
	height: 200px;
	width: 300px;
}

.noticiasExtendidas{
		padding: 1.75em;
	h2{
		text-align:center;
	}
	p{
		font-family: $font-wo;
		font-size: $font-wo-thin;
		font-size: $pequeño;
		color: $colorNegro;

		text-align: justify;
		line-height: 1.6;
	}
}

/*PIE DE PÁGINA*/

.piePagina{
	width: 100%;
	height: 250px;
	.piePaginaImagenes{
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	.logoCircular img{
			margin-top: -90px;
			width: 150px;	
		}

	.redesSociales{
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		img {
			width: 30px;
			margin-bottom: 1em;
			margin-right: 2em;
		}		
	}
	}

	p{
		font-size: 10px;
		text-align: center;
	}

}



/*.fotoSec.n1{
	&:hover{
		.fotoSec.n2{
		filter: opacity(75%);
			}
		.fotoSec.n3,{
		filter: opacity(75%);
		}
		.fotoSec.n4{
		filter: opacity(75%);			
		}

	}
}
.fotoSec.n2{
	&:hover{
		filter: opacity(75%);
	}
}
.fotoSec.n3{
	&:hover{
		filter: opacity(75%);
	}
}
.fotoSec.n4{
	&:hover{
		filter: opacity(75%);
	}
}
*/

/*TABLA IMC*/

.table-bordered{
	margin: 3em 0;
	text-align: center;
	border: 2px solid $colorRosaClaro;
	tbody{
		border:1px solid $colorRosaClaro;
	}
	th{
		background-color:$colorRosaClaro;
	}
	td{
		border:1px solid $colorRosaClaro;
	}
	td{

	}
}

.container.tablaIMC{
	line-height: 2;
	p{
		margin-bottom: 3em;		
	}

}

/*
#ejerciciosFuerza{
	
}*/

.volverFixed{
	position: fixed;
	z-index: 100;
	right: 0;
	bottom: 0;
	font-size: 1.75rem;
}
