/*FUENTES*/

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Work+Sans:wght@100;400;600&display=swap');

$font-am: 'Amatic SC', cursive;
$font-am-regular: 400;
$font-am-bold:700;
$font-os: 'Oswald', sans-serif;
$font-wo: 'Work Sans', sans-serif;
$font-wo-thin: 100;
$font-wo-regular: 400;
$font-wo-bold: 600;

/*COLORES*/

$colorNegro: #121212;
$colorRosa: #EF89D2;
$colorRosaClaro: #FFDED6;
$colorVerde: #3CEFAB;
$colorAmarillo: #faff1e;
$colorBlanco: white;
$colorRojo: #FF000078;
$colorBlue: #00F6;
$colorVioleta: #840296; /*#9604AB; #8054FB66;*/
$colorBeige: #e5e5c766;
$colorGris:  #636363;
$colorCeleste: rgba(134, 134, 237, 0.4);

/*TAMAÑOS DE TEXTO*/

$muy-pequeño: 0.75rem;
$pequeño: 1rem;
$no-tan-pequeño: 1.5em;
$mediano: 1.75rem;
$grande: 2rem;
$muy-grande: 4rem;

/*CONTENEDORES IMAGENES*/

$alto-p: 150px;
$ancho-p: 150px;
$alto-m: 200px;
$ancho-m: 200px;
$alto-g: 400px;
$ancho-g: 400px;

