/*FUENTES*/

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Oswald:wght@200;400;600&family=Work+Sans:wght@100;400;600&display=swap');

$font-am: 'Amatic SC', cursive;
$font-am-regular: 400;
$font-am-bold:700;
$font-os: 'Oswald', sans-serif;
$font-os-light: 200;
$font-os-regular: 400;
$font-os-bold: 600;
$font-wo: 'Work Sans', sans-serif;
$font-wo-thin: 100;
$font-wo-regular: 400;
$font-wo-bold: 600;

/*COLORES*/

$colorNegro: #121212;
$colorRosa: #EF89D2;
$colorRosaClaro: #FFDED6;
$colorVerde: #3CEFAB;
$colorAmarillo: #E0FF00;
$colorBlanco: white;
$colorRojo: #FF000078;
$colorBlue: #00F6;
$colorVioleta: #840296; /*#9604AB; #8054FB66;*/
$colorBeige: #f5f5dc66;
$colorGris:  #636363;
$colorCeleste: rgba(134, 134, 237, 0.4);

/*TAMAÑOS DE TEXTO*/

$pequeño: 1rem;
$mediano: 1.75rem;
$grande: 2rem;
$muy-grande: 4rem;

/*CONTENEDORES IMAGENES*/

$alto-foto-p: 150px;
$ancho-foto-p: 150px;
$alto-foto-m: 200px;
$ancho-foto-m: 200px;
$alto-foto-g: 400px;
$ancho-foto-g: 400px;

